body{
    background-color: #3b3b3b;
    color: darkgrey;
}

#profile{
    padding-top: 20px;
}

.small-text{
    font-size: 12px;
}

.winner{
    margin-bottom: 0;
}

.profile-pic{
    width: 100%;
    margin-top: 5%;
}

.steam-friend{
    margin-bottom: 5px;
    padding-bottom: 3px;
    border: 1px solid #bdbdbd;
}

.steam-link, .steam-id, .steam-name{
    margin: 0;
}

.steam-link a{
    text-decoration: none;
    color: orange;
}