@import "normalize.css";

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 7em;
}

#box {
    border: 2px solid black;
    height: 40px;
    width:40px;
}


.blue {
    background-color: blue;
}