<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Get disappointed by your Steam life</title>
    <link rel="stylesheet" type="text/css" href="css/foundation.css"/>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
</head>
<body>

<form action="" id="id-entry">
    <div class="input-group">
        <span class="input-group-label">SteamID</span>
        <input class="input-group-field" type="text" id="userID" placeholder="SteamID">
        <div class="input-group-button">
            <input type="submit" id="submit" class="button" value="Submit">
        </div>
    </div>
</form>

    <div id="profile">
        <script type="text/x-handlebars-template" id="profile-template">
            <div id="enteredUser" class="row">
                <div class="columns small-2">
                    <img src="{{avatarfull}}" alt="">
                </div>
                <div class="columns small-10">
                    <h3>{{personaname}}</h3>
                    {{#if gameextrainfo}}
                    <p class="small-text">currently ingame: {{gameextrainfo}}</p>
                    {{/if}}
                    <p>Steam account created on: {{timecreated}}</p>
                    <p class="steam-link">SteamId: {{steamid}} / <a href="{{profileurl}}">Steam Profile</a></p>
                </div>
            </div>
        </script>
    </div>
    <div id="main-content">
        <div id="leaderboard" class="small-6 small-push-2 columns">
            <script type="text/x-handlebars-template" id="hours-played-template">
                <div id="hours-played">

                    {{#with top}}
                    <h3>Most hours played</h3>
                    <h4 class="small-4 columns winner">{{user}}</h4> <h4 class="small-8 columns winner">{{playtime}} </h4>
                    {{/with}}
                    <p class="small-text small-10">Your own total playtime is {{ownPlaytime}}</p>
                </div>
            </script>
        </div>

        <div id="friendlist" class="small-4 small-pull-1 columns">
            <script type="text/x-handlebars-template" id="friends-template">
                {{#each this}}
                <div class="row steam-friend">
                    <div class="columns small-3">
                        <img src="{{avatarfull}}" class="profile-pic" alt="">
                    </div>
                    <div class="columns small-9">
                        <h4 class="steam-name">{{personaname}}</h4>
                        <p class="steam-id">SteamId: {{steamid}}</p>
                        <p class="steam-link"><a href="{{profileurl}}">Steam Profile</a></p>
                    </div>
                </div>
                {{/each}}
            </script>
        </div>
    </div>

<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/reqwest/reqwest.min.js"></script>
<script type="text/javascript" src="dist/handlebars-v4.0.5.js"></script>
<script type="text/javascript" src="dist/bundle.js"></script>
</body>